<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width, height=device-height">
    <link rel='stylesheet' href='/stylesheets/style.css' />
	<script src="/js/jquery.min.js"></script>

		<style>
			div ul {
			clear: left;
			margin: 0;
			padding :0;
			list-style-type: none;
			width:100%;
			margin-left: 10px;
			}
			
			ul li{
				float:left;
			}

			ul.header li {
				float: left;
				font-weight:bold;
				border-left: 1px solid #000;
				border-top: 1px solid #000;
				border-bottom: 1px solid #000;
				height: 30px;
				text-align: center;
				margin-top:20px;
			}

			ul.body li {
				float: left;
				margin: 0;
				padding: 0;
				border-left: 1px solid #000;
				border-bottom: 1px solid #000;
				height: 30px;
			}

			ul li.end {
				border-right: 1px solid #000;
			}

			.money{
				text-align: right;
			}

			.body_data {
				text-align: center;
			}

		</style>
		<script type="text/javascript">
			function onButton(button_id){
				console.log('on button : ' + button_id);
			}
		</script>
	</head>

	<body>
		<div>
			<% if( data.getBitCert() != null || data.getBitCert() == 'undefined' || data.getBitApi() != null || data.getBitApi() == 'undefined' ){ %>
				<% if( data.getBitCert() != null || data.getBitCert() == 'undefined'){ %>
					<ul>
						<li style='width:15%;'>cert key 등록 &nbsp;&nbsp;&nbsp;</li>
						<li style='width:60%;'><input type="text" name="text_cert"></li>
					</ul>	
				<% } %>
				<% if( data.getBitApi() != null ||  data.getBitApi() == 'undefined' ){ %>
					<ul>
						<li style='width:15%;'>api key 등록 &nbsp;&nbsp;&nbsp;</li>
						<li style='width:60%;'><input type="text" name="text_api"></li>
					</ul>
				<% } %>
				<ul>
					<li><input type="button" id="on_save_key" onclick="onSaveKey();" value="저장"></li>
				</ul>
			<% } %>	
			
			<ul class="header">
				<li style="width:13%;">코인명</li>
				<li style="width:24%;">현제가격</li>
				<li style="width:24%;">구매가(auto)</li>
				<li style="width:24%;">판매가(auto)</li>
				<li class="end" style="width:10%;">설정</li>
			</ul>
			<% for(var i=0; i<arrayPrice.length; i++){ %>
				<ul class="body">
					<li class="body_data" style="width:13%;"><%= arrayPrice[i].getCoinNameKor() %></li>
					<li class="money" style="width:24%;"><%= Number(arrayPrice[i].getPrice()).toLocaleString('en') %> &nbsp;&nbsp;</li>
					<li class="money" style="width:24%;"><input type="text" id="text_buy" name="text_buy" value="<%= dicSettingCoin[arrayPrice[i].getCoinName()] == null ? 0 : dicSettingCoin[arrayPrice[i].getCoinName()].getBuy() %>"> &nbsp;&nbsp;</li>
					<li class="money" style="width:24%;"><input type="text" id="text_buy" name="text_buy" value="<%= dicSettingCoin[arrayPrice[i].getCoinName()] == null ? 0 : dicSettingCoin[arrayPrice[i].getCoinName()].getSell() %>"> &nbsp;&nbsp;</li>
					<li class="end body_data" style="width:10%;">
						<input type="button" id=<%= arrayPrice[i].getCoinName() %> value="save" onclick="onButton(this.id)">
					</li>
					
				</ul>
			<% } %>
		</div>
	</body>	
</html>


