<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width, height=device-height">
    <link rel='stylesheet' href='/stylesheets/style.css' />
	<script src="/js/jquery.min.js"></script>

		<style>
			div ul {
			clear: left;
			margin: 0;
			padding :0;
			list-style-type: none;
			width:100%;
			margin-left: 10px;
			}
			
			ul li{
				float:left;
			}

			ul.header li {
				float: left;
				font-weight:bold;
				border-left: 1px solid #000;
				border-top: 1px solid #000;
				border-bottom: 1px solid #000;
				height: 30px;
				text-align: center;
				margin-top:20px;
			}

			ul.body li {
				float: left;
				margin: 0;
				padding: 0;
				border-left: 1px solid #000;
				border-bottom: 1px solid #000;
				height: 30px;
			}

			ul li.end {
				border-right: 1px solid #000;
			}

			.money{
				text-align: right;
			}

			.body_data {
				text-align: center;
			}
			
			.user_assets{
				margin-top:50px;
			}
			
		</style>
		<script type="text/javascript">
			function onSave(coinName, index){
				console.log('on name : ' + coinName + ' index : ' + index);
				
				var buy = $('#text_buy_'+index).val();
				var sell = $('#text_sell_'+index).val();
				var buyAmount = $('#text_buy_amount_'+index).val();
				var sellAmount = $('#text_sell_amount_'+index).val();
				
				$.ajax({
					url:"/saveAuto",
					type:"POST",
					data:{coin_name:coinName, buy:buy, buy_amount:buyAmount, sell:sell, sell_amount:sellAmount},
					dataType:"json",
					success:function(result){
						if(result['isSuccess']==true){
							alert('설정되었습니다.');
						}else{
							alert(result['msg']);
						}
					}
				});
			}
			
			function onCancle(coinName, index){
				
			}
		</script>
	</head>

	<body>
		<div>
			<% if( data.getBitSecret() == null || data.getBitSecret() == 'undefined' || data.getBitApi() == null || data.getBitApi() == 'undefined' ){ %>
				<% if( data.getBitSecret() == null || data.getBitSecret() == 'undefined'){ %>
					<ul>
						<li style='width:15%;'>secret key 등록 &nbsp;&nbsp;&nbsp;</li>
						<li style='width:60%;'><input type="text" name="text_secret"></li>
					</ul>	
				<% } %>
				<% if( data.getBitApi() == null ||  data.getBitApi() == 'undefined' ){ %>
					<ul>
						<li style='width:15%;'>api key 등록 &nbsp;&nbsp;&nbsp;</li>
						<li style='width:60%;'><input type="text" name="text_api"></li>
					</ul>
				<% } %>
				<ul>
					<li><input type="button" id="on_save_key" onclick="onSaveKey();" value="저장"></li>
				</ul>
			<% } %>	
			
			<ul class="header">
				<li style="width:10%;">코인명</li>
				<li style="width:15%;">현제가격</li>
				<li style="width:15%;">구매가(auto)</li>
				<li style="width:10%;">구매수량(auto)</li>
				<li style="width:15%;">판매가(auto)</li>
				<li style="width:10%;">판매수량(auto)</li>
				<li style="width:10%;">저장</li>
				<li class="end" style="width:10%;">취소</li>
			</ul>
			<% for(var i=0; i<arrayPrice.length; i++){ %>
				<ul class="body" id='coin_row_'+<%= i %>>
					<li class="body_data" style="width:10%;"><%= arrayPrice[i].getCoinNameKor() %></li>
					<li class="money" style="width:15%;"><%= Number(arrayPrice[i].getPrice()).toLocaleString('en') %> &nbsp;&nbsp;</li>
					<li class="money" style="width:15%;"><input type="text" id="text_buy_"+<%= i %> name="text_buy_"+<%= i %> value="<%= dicSettingCoin[arrayPrice[i].getCoinName()] == null ? 0 : dicSettingCoin[arrayPrice[i].getCoinName()].getBuy() %>"> &nbsp;&nbsp;</li>
					<li class="money" style="width:10%;"><input type="text" id="text_buy_amount_"+<%= i %> name="text_buy_amount_"+<%= i %> value="<%= dicSettingCoin[arrayPrice[i].getCoinName()] == null ? 0 : dicSettingCoin[arrayPrice[i].getCoinName()].getBuyAmount() %>"> &nbsp;&nbsp;</li>
					<li class="money" style="width:15%;"><input type="text" id="text_sell_"+<%= i %> name="text_sell_"+<%= i %> value="<%= dicSettingCoin[arrayPrice[i].getCoinName()] == null ? 0 : dicSettingCoin[arrayPrice[i].getCoinName()].getSell() %>"> &nbsp;&nbsp;</li>
					<li class="money" style="width:10%;"><input type="text" id="text_sell_amount_"+<%= i %> name="text_sell_amount_"+<%= i %> value="<%= dicSettingCoin[arrayPrice[i].getCoinName()] == null ? 0 : dicSettingCoin[arrayPrice[i].getCoinName()].getSellAmount() %>"> &nbsp;&nbsp;</li>
					<li class="body_data" style="width:10%;">
						<input type="button" id='buy_'+<%=i%> value="start" onclick="onSave(<%= arrayPrice[i].getCoinName()%>, <%=i%>)">
					</li>
					<li class="end body_data" style="width:10%;">
						<input type="button" id='cancle_'+<%=i%> value="cancle" onclick="onCancle(<%= arrayPrice[i].getCoinName()%>, <%=i%>)">
					</li>
				</ul>
			<% } %>
			<% if(assets){ %>
				<br/><br/><br/><br/>
				<ul class='header'>
					<li style="width:10%;">코인명</li>
					<li style="width:20%;">보유중인 액수</li>
					<li style="width:20%;">사용중인 액수</li>
					<li style="width:20%;">남은 액수</li>
					<li class="end" style="width:15%;">한화 환산액</li>
				</ul>
				<% 
					var allKeys = Object.keys(assets);
					var totalWan = 0;
					
					for(var i=0; i<allKeys.length; i++){
						var dicValue = assets[allKeys[i]];
						totalWan +=  parseInt(dicValue['priceValue']);
				%>
					<ul class='body'>
						<li class="body_data" style="width:10%;"> <%= allKeys[i] %> </li>
						<li class="money" style="width:20%;"> <%= Number(dicValue['available']).toLocaleString('en') %>  &nbsp;&nbsp;</li>
						<li class="money" style="width:20%;"> <%= Number(dicValue['inUse']).toLocaleString('en') %>  &nbsp;&nbsp;</li>
						<li class="money" style="width:20%;"> <%= Number(parseFloat(dicValue['total']) - parseFloat(dicValue['inUse'])).toLocaleString('en') %>  &nbsp;&nbsp;</li>
						<li class="money end" style="width:15%;"> <%= Number(parseInt(dicValue['priceValue'])).toLocaleString('en') %>  &nbsp;&nbsp;</li>
					</ul>	
				<% } %>
				<ul class='header'>
					<li class="body_data" style="width:10%;"> 총 액 </li>
					<li class="money end" style="width:75%;"> <%= Number(totalWan).toLocaleString('en') %> &nbsp;&nbsp;</li>
				</ul>
			<% } %>
		</div>
	</body>	
</html>


