<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width, height=device-height">
    <link rel='stylesheet' href='/stylesheets/style.css' />
	<script src="/js/jquery.min.js"></script>

		<style>
			div ul {
			clear: left;
			margin: 0;
			padding :0;
			list-style-type: none;
			width:100%;
			}
			
			ul li{
				float:left;
			}

			ul.header li {
				float: left;
				font-weight:bold;
				border-left: 1px solid #000;
				border-top: 1px solid #000;
				border-bottom: 1px solid #000;
				height: 30px;
				text-align: center;
				margin-top:20px;
			}

			ul.body li {
				float: left;
				margin: 0;
				padding: 0;
				border-left: 1px solid #000;
				border-bottom: 1px solid #000;
				height: 30px;
			}

			ul li.end {
				border-right: 1px solid #000;
			}

			.money{
				text-align: right;
			}

			.body_data {
				text-align: center;
			}
			
			.user_assets{
				margin-top:50px;
			}
			
			.layout{
				margin:0;
				padding:0;
			}
			
		</style>
		<script type="text/javascript">
			function onSave(coinName, index, dicCoin){
				console.log('on name : ' + coinName + ' index : ' + index);
				
				var buy = $('#text_buy_'+index).val();
				var sell = $('#text_sell_'+index).val();
				var buyAmount = $('#text_buy_amount_'+index).val();
				var sellAmount = $('#text_sell_amount_'+index).val();
				
				if(buy == null || parseInt(buy) == 0 || buy.length == 0){
					return alert('구매가격 확인');
				}else if(sell == null || parseInt(sell) == 0 || sell.length == 0){
					return alert('판매가격 확인');
				}else if(buyAmount == null || parseInt(buyAmount) == 0 || buyAmount.length == 0){
					return alert('구매수량 확인');
				}else if(sellAmount == null || parseInt(sellAmount) == 0 || sellAmount.length == 0){
					return alert('판매수량 확인');
				}else if (parseInt(buy) >= parseInt(sell)){
					return alert('구매 가격이 더 비쌈');
				}
				
				if(confirm(coinName+'\n 구매 : ' + buy + ' / 수량 : ' + buyAmount + '\n 판매 : ' + sell + ' / 수량 : ' + sellAmount + '\n OK?') == true){
					$.ajax({
						url:"/main/checkCurrent",
						type:"POST",
						data:{coin_name:coinName},
						dataType:"json",
						success:function(result){
							if(result.isSuccess == true){
								if(parseInt(result.nowPrice) < parseInt(buy)){
									alert('현제가격보다 구매 요청 가격이 더 큽니다.');
								}else{
									/*alert('구매 가격 : ' + result.nowPrice);*/
									$.ajax({
										url:"/main/saveAuto",
										type:"POST",
										data:{coin_name:coinName, buy:buy, buy_amount:buyAmount, sell:sell, sell_amount:sellAmount},
										dataType:"json",
										success:function(resultAuto){
											if(resultAuto.isSuccess == true){
												alert('설정 되었습니다.');
											}else{
												alert(resultAuto.msg);
											}
										}
									});
								}
							}else{
								alert(result.msg);
							}
						}
					});
				}else{
					//취소 
				}
			}
			
			function onCancle(coinName, index){
				if(confirm(coinName+' 설정을 삭제 할거?') == true){
					$.ajax({
						url:"/main/removeAuto",
						type:"POST",
						data:{coin_name:coinName},
						dataType:"json",
						success:function(resultAuto){
							if(resultAuto.isSuccess == true){
								$('#text_buy_'+index).val(0);
								$('#text_buy_amount_'+index).val(0);
								$('#text_sell_'+index).val(0);
								$('#text_sell_amount_'+index).val(0);
								alert('삭제됨.');
							}else{
								alert(resultAuto.msg);
							}
						}
					});
				}
			}
			
			function numberCheck(obj){
				$(obj).keyup(function(){
					$(this).val($(this).val().replace(/[^0-9]/g,""));
				});
			}


		</script>
	</head>

	<body>
		<div class='layout'>
			<% if( data.getBitSecret() == null || data.getBitSecret() == 'undefined' || data.getBitApi() == null || data.getBitApi() == 'undefined' ){ %>
				<% if( data.getBitSecret() == null || data.getBitSecret() == 'undefined'){ %>
					<ul>
						<li style='width:15%;'>secret key 등록 &nbsp;&nbsp;&nbsp;</li>
						<li style='width:60%;'><input type="text" name="text_secret"></li>
					</ul>	
				<% } %>
				<% if( data.getBitApi() == null ||  data.getBitApi() == 'undefined' ){ %>
					<ul>
						<li style='width:15%;'>api key 등록 &nbsp;&nbsp;&nbsp;</li>
						<li style='width:60%;'><input type="text" name="text_api"></li>
					</ul>
				<% } %>
				<ul>
					<li><input type="button" id="on_save_key" onclick="onSaveKey();" value="저장"></li>
				</ul>
			<% } %>	
			
			<ul class="header">
				<li style="width:10%;">코인명</li>
				<li style="width:15%;">현제가격</li>
				<li style="width:15%;">구매가</li>
				<li style="width:10%;">구매수량</li>
				<li style="width:15%;">판매가</li>
				<li style="width:10%;">판매수량</li>
				<li style="width:10%;">저장</li>
				<li class="end" style="width:10%;">취소</li>
			</ul>
			<% for(var i=0; i<arrayPrice.length; i++){ %>
				<ul class="body" id=<%='coin_row_'+i %>>
					<li class="body_data" style="width:10%;"><%= arrayPrice[i].getCoinNameKor() %></li>
					<li class="money" style="width:15%;"><%= Number(arrayPrice[i].getPrice()).toLocaleString('en') %> &nbsp;&nbsp;</li>
					<li class="money" style="width:15%;"><input type="text" id="text_buy_<%= i %>" name="text_buy_<%=i %>" value="<%= dicSettingCoin[arrayPrice[i].getCoinName()] == null ? 0 : dicSettingCoin[arrayPrice[i].getCoinName()].getBuy() %>" onkeydown="numberCheck(this);"> &nbsp;&nbsp;</li>
					<li class="money" style="width:10%;"><input type="text" id="text_buy_amount_<%=i%>" name="text_buy_amount_<%=i %>" value="<%= dicSettingCoin[arrayPrice[i].getCoinName()] == null ? 0 : dicSettingCoin[arrayPrice[i].getCoinName()].getBuyAmount() %>" onkeydown="numberCheck(this);"> &nbsp;&nbsp;</li>
					<li class="money" style="width:15%;"><input type="text" id="text_sell_<%=i %>" name="text_sell_<%=i %>" value="<%= dicSettingCoin[arrayPrice[i].getCoinName()] == null ? 0 : dicSettingCoin[arrayPrice[i].getCoinName()].getSell() %>" onkeydown="numberCheck(this);"> &nbsp;&nbsp;</li>
					<li class="money" style="width:10%;"><input type="text" id="text_sell_amount_<%=i %>" name="text_sell_amount_<%=i %>" value="<%= dicSettingCoin[arrayPrice[i].getCoinName()] == null ? 0 : dicSettingCoin[arrayPrice[i].getCoinName()].getSellAmount() %>" onkeydown="numberCheck(this);"> &nbsp;&nbsp;</li>
					<li class="body_data" style="width:10%;">
						<input type="button" id='buy_<%=i%>' value="start" onclick="onSave('<%= arrayPrice[i].getCoinName()%>', <%=i%>);">
					</li>
					<li class="end body_data" style="width:10%;">
						<input type="button" id='cancle_<%=i%>' value="cancle" onclick="onCancle('<%= arrayPrice[i].getCoinName()%>', <%=i%>);">
					</li> 
				</ul>
			<% } %>
			<% if(assets){ %>
				<br/><br/><br/><br/>
				<ul class='header'>
					<li style="width:10%;">코인명</li>
					<li style="width:20%;">보유중인 액수</li>
					<li style="width:20%;">사용중인 액수</li>
					<li style="width:20%;">남은 액수</li>
					<li class="end" style="width:15%;">한화 환산액</li>
				</ul>
				<% 
					var allKeys = Object.keys(assets);
					var totalWan = 0;
					
					for(var i=0; i<allKeys.length; i++){
						var dicValue = assets[allKeys[i]];
						totalWan +=  parseInt(dicValue['priceValue']);
				%>
					<ul class='body'>
						<li class="body_data" style="width:10%;"> <%= allKeys[i] %> </li>
						<li class="money" style="width:20%;"> <%= Number(dicValue['available']).toLocaleString('en') %>  &nbsp;&nbsp;</li>
						<li class="money" style="width:20%;"> <%= Number(dicValue['inUse']).toLocaleString('en') %>  &nbsp;&nbsp;</li>
						<li class="money" style="width:20%;"> <%= Number(parseFloat(dicValue['total']) - parseFloat(dicValue['inUse'])).toLocaleString('en') %>  &nbsp;&nbsp;</li>
						<li class="money end" style="width:15%;"> <%= Number(parseInt(dicValue['priceValue'])).toLocaleString('en') %>  &nbsp;&nbsp;</li>
					</ul>	
				<% } %>
				<ul class='header'>
					<li class="body_data" style="width:10%;"> 총 액 </li>
					<li class="money end" style="width:75%;"> <%= Number(totalWan).toLocaleString('en') %> &nbsp;&nbsp;</li>
				</ul>
			<% } %>
		</div>
	</body>	
</html>



